# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Python virtual environment  
venv/  

# Ignore Flask session files  
flask_session/  

# Ignore Node.js dependencies  
node_modules/  

# Ignore build directory  
build/  

# Ignore log files  
*.log  

# Ignore environment variables file  
.env  

# Ignore compiled Python files  
__pycache__/  
*.pyc  

# Ignore package-lock.json if you want to avoid tracking it  
package-lock.json  

# Ignore any other sensitive or temporary files  
*.DS_Store