.alnum-title {
    font-size: 24px;
    color: #ff9800;
    margin-top: 50px;
}

.alnum-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: rgba(76, 75, 74, 0.568);
    color: #ffffff;
    text-align: center;
    height: 73vh;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 8px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    min-width: 1000px;
}

.alnum-container::-webkit-scrollbar {
    display: none;
}

.alnum-display {
    max-height: 650px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /* Ensures the content aligns to the right */
    align-items: flex-end; /* Aligns the image at the top */
}

.image-preview {
    max-width: 70%;
    border-radius: 5px;
    margin-left: 20px;
    min-height: 80%; /* Control the height so the image doesn’t exceed the container */
}

.alnum-text-output {
    width: 100%;
    margin-bottom: 20px;
}

.output-text-content {
    color: #333 !important;
    background-color: white !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px !important;
    width: max-content;
    display: block;
}

.upload-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.upload-controls input[type="file"] {
    display: none;
}

.upload-label {
    background-color: #ff9800;
    color: #ffffff;
    padding: 8px 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-label:hover {
    background-color: #e68900;
}

.process-button {
    background-color: #ff9800;
    color: #ffffff;
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.process-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.process-button:hover:enabled {
    background-color: #e68900;
}
